ASR_BASE_URL=http://10.210.1.23:19003
ASR_API_KEY=replace-with-your-api-key
VAD_MODEL_PATH=models/net.onnx
RECORDINGS_DIR=recordings
VAD_SILENCE_MS=600
ASR_CONCURRENCY=8
MAX_CONNECTIONS=8
HOST=127.0.0.1
PORT=5173
# For phone access, bind to your LAN and provide a trusted HTTPS certificate:
# HOST=0.0.0.0
# TLS_KEY_FILE=certs/lan-key.pem
# TLS_CERT_FILE=certs/lan.pem
